
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html>
   <body>
<H1>Submit TV Stand Dimensions</H1>
<form method="POST" action="/tvstand/add">

    <div class="form-group">
     <div class="row">
        <label class="col-sm-1  control-label">Overall Width</label>
        <div class="col-sm-1 selectContainer">
            <select name="overall_width_foot"  class="form-control">
             <% feet.forEach(function(ft){  %>
             <option><%= ft %></option><% })  %></select>
        </div>

       <label class="control-label col-sm-1">ft.</label>

        <div class="col-sm-1 selectContainer">
	     <select name="overall_width_inch" class="form-control">
             <% inches.forEach(function(nch){  %>
             <option><%= nch %></option><% })  %></select>
        </div>
        <div class="col-sm-1 selectContainer">
            <select name="overall_width_fract" class="form-control">
             <% fractions.forEach(function(frac){  %>
             <option><%= frac %></option><% })  %></select>
        </div>      
      <label class="control-label col-sm-1">inches</label)>

      <div class="col-sm-6">
      </div>
    </div>
     </div>



<div class="form-group">
     <div class="row">
        <label class="col-sm-1  control-label">Overall Height</label>
        <div class="col-sm-1 selectContainer">
            <select name="overall_height_foot"  class="form-control">
             <% feet.forEach(function(ft){  %>
             <option><%= ft %></option><% })  %></select>
        </div>

       <label class="control-label col-sm-1 large">ft.</label>

        <div class="col-sm-1 selectContainer">
             <select name="overall_height_inch" class="form-control">
             <% inches.forEach(function(nch){  %>
             <option><%= nch %></option><% })  %></select>
        </div>
        <div class="col-sm-1 selectContainer">
            <select name="overall_height_fract" class="form-control">
             <% fractions.forEach(function(frac){  %>
             <option><%= frac %></option><% })  %></select>
        </div>
      <label class="control-label col-sm-1 large">inches</label>

      <div class="col-sm-6">
      </div>
    </div>
     </div>


<div class="form-group">
     <div class="row">
        <label class="col-sm-1  control-label">Overall Depth</label>
        <div class="col-sm-1 selectContainer">
            <select name="overall_depth_foot"  class="form-control">
             <% feet.forEach(function(ft){  %>
             <option><%= ft %></option><% })  %></select>
        </div>

       <label class="control-label col-sm-1 large">ft.</label>

        <div class="col-sm-1 selectContainer">
             <select name="overall_depth_inch" class="form-control">
             <% inches.forEach(function(nch){  %>
             <option><%= nch %></option><% })  %></select>
        </div>
        <div class="col-sm-1 selectContainer">
            <select name="overall_depth_fract" class="form-control">
             <% fractions.forEach(function(frac){  %>
             <option><%= frac %></option><% })  %></select>
        </div>
      <label class="control-label col-sm-1 large">inches</label>

      <div class="col-sm-6">
      </div>
    </div>
     </div>

<div class="form-group">
     <div class="row">
        <label class="col-sm-1  control-label">Faceframe Board Width</label>
        <div class="col-sm-1 selectContainer">
            <select name="face_frame_board_width_foot"  class="form-control">
             <% feet.forEach(function(ft){  %>
             <option><%= ft %></option><% })  %></select>
        </div>

       <label class="control-label col-sm-1 large">ft.</label>

        <div class="col-sm-1 selectContainer">
             <select name="face_frame_board_width_inch" class="form-control">
             <% inches.forEach(function(nch){  %>
             <option><%= nch %></option><% })  %></select>
        </div>
        <div class="col-sm-1 selectContainer">
            <select name="face_frame_board_width_fract" class="form-control">
             <% fractions.forEach(function(frac){  %>
             <option><%= frac %></option><% })  %></select>
        </div>
      <label class="control-label col-sm-1 large">inches</label>

      <div class="col-sm-6">
      </div>
    </div>
     </div>
<div class="form-group">
     <div class="row">
        <label class="col-sm-1  control-label">Section Side Widths</label>
        <div class="col-sm-1 selectContainer">
            <select name="section_side_widths_foot"  class="form-control">
             <% feet.forEach(function(ft){  %>
             <option><%= ft %></option><% })  %></select>
        </div>

       <label class="control-label col-sm-1 large">ft.</label>

        <div class="col-sm-1 selectContainer">
             <select name="section_side_widths_inch" class="form-control">
             <% inches.forEach(function(nch){  %>
             <option><%= nch %></option><% })  %></select>
        </div>
        <div class="col-sm-1 selectContainer">
            <select name="section_side_widths_fract" class="form-control">
             <% fractions.forEach(function(frac){  %>
             <option><%= frac %></option><% })  %></select>
        </div>
      <label class="control-label col-sm-1 large">inches</label>

      <div class="col-sm-6">
      </div>
    </div>
     </div>



<div class="form-group">
     <div class="row">
        <label class="col-sm-1  control-label">Section Center Width</label>
        <div class="col-sm-1 selectContainer">
            <select name="section_center_width_foot"  class="form-control">
             <% feet.forEach(function(ft){  %>
             <option><%= ft %></option><% })  %></select>
        </div>

       <label class="control-label col-sm-1 large">ft.</label>

        <div class="col-sm-1 selectContainer">
             <select name="section_center_width_inch" class="form-control">
             <% inches.forEach(function(nch){  %>
             <option><%= nch %></option><% })  %></select>
        </div>
        <div class="col-sm-1 selectContainer">
            <select name="section_center_width_fract" class="form-control">
             <% fractions.forEach(function(frac){  %>
             <option><%= frac %></option><% })  %></select>
        </div>
      <label class="control-label col-sm-1 large">inches</label>

      <div class="col-sm-6">
      </div>
    </div>
     </div>
<div class="form-group">
     <div class="row">
        <label class="col-sm-1  control-label">Door Board Width</label>
        <div class="col-sm-1 selectContainer">
            <select name="door_board_width_foot"  class="form-control">
             <% feet.forEach(function(ft){  %>
             <option><%= ft %></option><% })  %></select>
        </div>

       <label class="control-label col-sm-1 large">ft.</label>

        <div class="col-sm-1 selectContainer">
             <select name="door_board_width_inch" class="form-control">
             <% inches.forEach(function(nch){  %>
             <option><%= nch %></option><% })  %></select>
        </div>
        <div class="col-sm-1 selectContainer">
            <select name="door_board_width_fract" class="form-control">
             <% fractions.forEach(function(frac){  %>
             <option><%= frac %></option><% })  %></select>
        </div>
      <label class="control-label col-sm-1 large">inches</label>

      <div class="col-sm-6">
      </div>
    </div>
     </div>

     <button type="submit" class="btn btn-primary">Submit</button>  


       
</form>
</body>
</html>
